<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBakery - Logowanie</title>
    <link rel="stylesheet" href="../css/Login.css">
    <script src="../scripts/Login.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="main">
        <div class="left">
            <img src="../images/Login-pic.jpg" alt="">
            <h1>EBakery</h1>
            <span>
                Twoje miejsce w świecie piekarnictwa. Dołącz do nas i
                <br>
                <span>odkryj świeże możliwości.</span>
            </span>
        </div>
        <div class="right">
            <div>
                <div class="tabs">
                    <div id="login-tab" class="tab active">Logowanie</div>
                    <div id="register-tab" class="tab">Rejestracja</div>
                </div>
                <form id="auth-form">

                    <div class="hidden" id="name">
                        <span>Imię</span>
                        <input type="text" placeholder="Imię">
                    </div>

                    <div>
                        <span>Email</span>
                        <input type="email" placeholder="twój@email.com" required>
                    </div>

                    <div>
                        <span>Hasło</span>
                        <input type="password" placeholder="Hasło" required>
                    </div>


                    <div id="repeat-password" class="hidden">
                        <span>Powtórz hasło</span>
                        <input type="password" placeholder="Powtórz hasło">
                    </div>

                    <div class="row">
                        <label><input type="checkbox"> Zapamiętaj mnie</label>
                        <a href="#">Zapomniałeś hasła?</a>
                    </div>

                    <button type="submit" id="submit-btn">Zaloguj się</button>

                    <div class="divider">Lub kontynuuj przez</div>
                    <div class="google-btn">
                        <img src="https://www.svgrepo.com/show/475656/google-color.svg" width="20" alt="Google">
                        Google
                    </div>
                </form>
            </div>

        </div>
    </div>
</body>

</html>